@use '@/styles/_variables' as *;

.module {
  $btn-color: $green;

  padding: 8px;
  color: $btn-color;
  border: 1px solid $btn-color;
  border-radius: 4px;

  &[data-color='red'] {
    color: $red;
    border-color: $red;
  }

  &:hover,
  &:focus {
    color: white;
    background-color: $btn-color;
    transition-duration: 500ms;

    &[data-color='red'] {
      background-color: $red;
    }
  }
}
