@use '@/styles/colors' as *;

.module {
  --color: #{$green};

  &[data-color='red'] {
    --color: #{$red};
  }

  padding: 0.5rem;
  color: var(--color);
  border: 1px solid var(--color);
  border-radius: 0.25rem;

  &:hover,
  &:focus {
    color: $white;
    background-color: var(--color);
    transition-duration: 500ms;
  }
}
