@use '@/styles/colors' as *;

.module {
  --flex-direction: 'row';

  display: flex;
  flex-direction: var(--flex-direction);
  row-gap: 0.5rem;
  column-gap: 0.75rem;
}

.radio {
  margin-right: 0.25rem;
}
