/* stylelint-disable scss/dollar-variable-pattern */
$black: rgb(0 0 0);
$blue: rgb(65 105 225);
$darkGray: rgb(71 85 105);
$green: rgb(4 170 109);
$gray: rgb(178 178 178);
$red: rgb(239 51 64);
$white: rgb(255 255 255);
