$black: rgb(0 0 0);
$blueberry: #729ef9;
$dark-gray: rgb(3 10 18 / 81%);
$green: rgb(4 170 109);
$gray: rgb(219 218 214);
$light-blueberry: rgb(185 207 252);
$light-gray: rgb(247 250 252);
$muslin: rgb(245 242 238);
$red: rgb(239 51 64);
$very-light-gray: gb(250 250 250);
$white: rgb(255 255 255);
