/* stylelint-disable-next-line selector-id-pattern */
#__next {
  width: 100vw;
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: Inter, GenJyuuGothicL, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
