@use '@/styles/colors' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 660px;
  padding-inline: 1rem;
  margin-inline: auto;
  font-family: Inter, GenJyuuGothicL, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
  line-height: 1.5;
  color: $dark-gray;
  letter-spacing: 0.02em;
}

#root {
  min-height: 100vh;
}
