/* stylelint-disable-next-line selector-id-pattern */
#__next {
  width: 100vw;
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}
