@use '@/styles/colors' as *;

.module {
  padding-block: 0.5rem;
  padding-inline: 1rem;
  color: $blueberry;
  border: 1px solid $blueberry;
  border-radius: 1.5rem;

  &:hover,
  &:focus {
    color: $white;
    background-color: $blueberry;
  }
}
