@use '@/styles/colors' as *;

.module {
  display: inline-block;
  padding-inline: 0.75rem;
  font-size: 0.8rem;
  color: $dark-gray;
  border: 1px solid $dark-gray;
  border-radius: 1rem;

  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 0.8;
  }
}

.checkbox {
  display: none;
}

.checked {
  color: white;
  background-color: $dark-gray;
}
