@use '@/styles/colors' as *;

.module {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: center;
  width: 100%;
}

.alert {
  color: $red;
}

.buttonContainer {
  align-self: center;
}

.emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  background-color: $muslin;
  border-radius: 50%;

  :hover {
    opacity: 0.8;
  }
}

.field {
  width: 100%;
}

.label,
.legend {
  font-weight: bold;
}
