@use '@/styles/colors' as *;

.module {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 100%;
}

.alert {
  color: $red;
}

.buttonContainer {
  align-self: center;
}

.label,
.legend {
  font-weight: bold;
}
